:root {
  --primaryColor: #0076de;
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #f5f5f5;
  --labelColor: blue;
  --inputColor: #666;
  --yellowColor: #f1c40f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: var(--grayColor); */
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: ivory;

  /* overflow: hidden; */
}

.head-1 {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background-image: url("/static/images/Web.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  line-height: 1.5;
}

.navbar {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* 50% transparent white instead of full white */
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky; /* Changed from fixed to sticky */
  top: 0; /* Required for sticky positioning */
  z-index: 10; /* Ensure it appears above other content */
  border-bottom: 1px solid rgb(210, 202, 202);
  font-size: 16px;
}

/* -----The SEARCH INPUT ----- */
/* .input-section {

  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  height: 5px;
  margin: auto;
  width: auto;

  position: relative;
  
} */

/* .input-section input:first-child {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #848282;
  padding: 10px 80px 10px 35px;
  outline: none;
  
  font-style: italic;
  box-shadow: 0px 0px 1px #3a3c3b, 0px 0px 1px #717578;
  background-color: rgba(255, 255, 255, 0.5);
} */
/* .input-section i {
  position: absolute;
  left: 10px; Adjust this value to position the icon */
/* color: black;
  top: 50%;
  transform: translateY(-50%); */
/* font-size: 20px; */
/* } */

.logo-navlinks {
  display: flex;
  /* background-color: red; */
  text-align: center;
  justify-content: space-between;
}

/* lOGOUT SECTION */
.logo1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2px;
  /* margin-right: 5px; */
}

.logo1 > img {
  width: 45px;
  height: 32px;
  margin-left: 10px;
}

.logo1 > h1 {
  font-size: 1.1rem;
  margin-left: 2px;
  padding-top: 10px;
  color: #000000;
}
/* .logo1 > h1 {
  font-size: 1.5em;
  margin-left: -10px;
  padding-top: 10px;
  color: #000000;
} */

.logo1 > h1 a {
  text-decoration: none;
  color: #000000;
}

.logo1 > h1 a:hover {
  color: blue;
}
.navlinks {
  font-weight: 200;
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.lists {
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  margin-left: 20px;
}

.lists > li {
  margin-left: 20px;
  text-decoration: none;
}

.lists > li > a {
  text-decoration: none;
  color: #000000;
  text-shadow: antiquewhite;
  margin-top: 10px;
}

.lists li a:hover {
  color: blue;
  transition-delay: 0.15s;
}

.log1 .login a {
  text-decoration: none;
  color: #000000;
  margin-left: 5px;
  background-color: none;
}

/* .search-logout {
  display: flex;
  margin-left: -400px;
} */

/* .search-wrapper {
  width: 60%;
  margin: auto;
  min-width: 300px;
  height: 3.5rem;
  position: relative;
}

.search-box {
  width: 100%;
  position: absolute;
  background-color: var(--grayColor);
  box-shadow: rgba(2, 11, 20, 0.2) 0px 5px 15px;
  top: -45%;
  height: 100%;
}

.search-card {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}

.search-button {
  width: 200px;
  background: var(--primaryColor);
  border: none;
  color: var(--whiteColor);
  cursor: pointer;
} */

/* -----------FILTER SECTION--------- */
.filter-box {
  width: 60%;
  font-size: 2rem;
  width: 100%;

  /* background-color: #0076de; */
  /* margin: auto; */
  /* height: auto; */
  /* min-width: 300px; */
}

.filter-dropdown {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
  gap: 0.3rem;
}

.filter-select {
  border-radius: 10px;
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.filter-select:hover {
  background-color: var(--grayColor);
}

.filter-chosen {
  width: 100%;
  height: auto;
  font-size: 20px;
  width: 60%;
  min-width: 300px;
  margin: auto;
  display: flex;
}

/* ----------HEADING AFTER THE NAVBAR---- */
.heading {
  margin-bottom: 50px;
}
.header-title {
  padding: 30px 10px 20px 10px;
  letter-spacing: 3;
  font-weight: 700;
  font-size: 52px;
  color: white;
  /* text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2); */
}

/* .header-title .text {
  color: blue;
} */

/* ------THE REST ARE AT THE NAVBAR SECTION------- */
.search-section {
  /* background: rgb(213, 58, 58);
  background-color: red; */
  position: relative;
  /* width: 800px;
  max-width: 100%; */
  /* display: block; */
  /* display: flex; */
  /* flex: 1; */
  /* align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 20px; */
  /* margin: auto; */
  /* position: absolute; */
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  max-width: 100%;
  background: white;
}

.search-section .row-search {
  /* display: flex;
  /* flex: 1; */
  /* align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 20px; */
  /* margin: auto; */
  /* width: 800px; */
  /* max-width: 100%; */
  /* position: relative;  */
  position: absolute;
  /* top: 20px; Adjust as needed */
  /* left: 50%; */
  /* transform: translateX(-50%);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 800px;
  max-width: 100%; 
  background: blue;
}

.search-section .row-search input:first-child {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #848282;
  padding: 14px 80px 14px 35px;
  outline: none;
  font-size: 20px;
  font-style: italic;
  box-shadow: 0px 0px 1px #3a3c3b, 0px 0px 1px #717578;
}
.search-section .row-search i {
  position: absolute;
  left: 10px; /* Adjust this value to position the icon */
  color: black;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.search-section .row-search .button1 {
  display: inline-block;
  position: absolute;
  background-color: blue;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  top: 6px;
  right: 6px;
  box-shadow: 0px 0px 2px #82c5a9, 0px 0px 2px #77b9ef;
}

.search-section .row-search .button1:hover {
  background-color: #000000;
}

.result-box {
  
  width: 800px;
  max-width: 100%; 
  position: absolute;
  top: 25px;
  background: white;
  z-index: 100;
}
.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background-color: aquamarine;
}

/* -----APPLY WORK READINGS(HEADING)---- */
.apply-header {
  /* background: greenyellow; */
  margin-top: -60px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.apply-header > h1,
h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primaryColor);
}

/*  */

.chosen-card {
  background: var(--primaryColor);
  padding: 0.2rem 0.5rem;
  color: var(--whiteColor);
  border-radius: 20px;
  cursor: pointer;
  display: block;
}

/* -----JOB LIST SECTION---- */
.job-list {
  display: flex;
  padding: 0 40px;
  /* margin: auto; */
  /* justify-content: ; */
  /* align-items: center; */
  position: relative;
  /* margin: 5%; */
  /* padding: 1rem; */
  /* background-color: var(--grayColor); */
  /* height: auto; */
}
.job-lists {
  justify-content: flex-start;
}

.job-card {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 20px 10px 20px;
  /* max-width: 500px; */
  width: 100%;
  margin-left: -10px;
  margin-bottom: 20px;
  /* margin: ; */
  /* min-height: 100px; */
  align-items: center;
  background-color: var(--whiteColor);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  border-radius: 10px;
}

.job-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
}

/* -----JOB-CARD HEADER DIV--- */
.job-card-header > h3 {
  font-weight: 900;
  font-size: 1.5rem;
  border-style: none;
  font-display: block;
  font-style: italic;
  margin-bottom: 5px;
}
.job-card-header {
  margin-bottom: 10px;
}
/* ---------------------------- */

.work-summary {
  display: flex;
}

.work-summary > .icon {
  margin-right: 10px;
}

/* ---------------------------------------- */
.job-card-body > a {
  margin-left: 3px;
  padding: 0.1rem;
  border-radius: 10%;
  color: var(--whiteColor);
  font-size: 20px;
}

/* ---------------------- */

.job-card-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.job-card-body a {
  font-size: 15px;
  margin-right: 5px;
}

.job-card-location {
  background-color: var(--yellowColor);
}

.job-card-type {
  background-color: var(--primaryColor);
}
.job-card-level {
  background-color: var(--blackColor);
}

.job-card-function {
  background-color: rgba(237, 76, 103, 0.8);
}

.job-card-education {
  background-color: rgba(0, 118, 222, 0.8);
}
/* --------------------------------------------- */

/* ----WORK DESCRIPTION CONTAINER--- */
.job-list .apply-work {
  /* background: rgba(0, 118, 222, 0.8); */
  border: 1px solid rgba(0, 118, 222, 0.8);
  border-radius: 10px;
  margin-left: 20px;
  position: sticky;
  top: 10px;
  height: 600px;
  /* overflow:scroll; */
}
.company-info {
  background: whitesmoke;
  padding: 1rem;
  min-width: 700px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.apply-work .work-description {
  border-radius: 3px;
  background: whitesmoke;
  font-size: 14px;
  height: 400px; /* Set a fixed height */
  overflow-y: scroll; /* Enable vertical scroll */
}

.work-description .details {
  margin: 10px 0;
}
/* ----JOB CARD BUTTON */
.job-card-button {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  width: 7rem;
}

/* ----------MORE JOBS BUTTON---------- */
.more-jobs {
  display: block;
  padding: 0.3rem 2rem;
  margin: 20px auto;
  width: 250px;
  background-color: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: 20px;
  cursor: pointer;
}

.more-jobs:hover {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}
/* -------------------------------------- */

/* ------------JION SECTION---------- */
.join {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 85, 177, 0.6)),
      to(rgba(0, 122, 255, 0.5)),
      color-stop(0.5, rgba(0, 85, 177, 0.6)),
      color-stop(0.5, transparent)
    ),
    url("/static/images/abstract.webp");
  color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  align-items: center;
  position: relative;
}

.join::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 85, 177, 0.6) 0% rgba(0, 122, 255, 0.5) 100%
    ),
    linear-gradient(180deg, rgba(0, 85, 177, 0.6) 0%, transparent 100%);
  z-index: 1;
}

.join-detail {
  min-width: 200px;
  width: 50%;
  z-index: 2;
  margin-bottom: 1rem;
}

.join-detail > h1 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--whiteColor);
  letter-spacing: 2;
}

.join-detail > p {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  margin-top: 3rem;
}
.join-button {
  width: 200px;
  padding: 1rem;
  color: var(--blackColor);
  background-color: var(--yellowColor);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 16px;
  z-index: 2;
  cursor: pointer;
}

.join-button:hover {
  background: transparent;
  border: 2px solid var(--yellowColor);
}

/* ----------------------------------- */

/* -----FEATURES SECTION--------- */
.featured {
  display: flex;
  height: auto;
  top: auto;
  padding: 1rem 3rem;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  letter-spacing: 2;
}

.social-icons {
  display: flex;
  justify-content: center space-around;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.social-icons > a:hover {
  box-shadow: #fff;
}
