:root {
    --primaryColor: #0076de;
    --whiteColor: #fff;
    --blackColor: #000;
    --grayColor: #f5f5f5;
    --labelColor: blue;
    --inputColor: #666;
    --yellowColor: #f1c40f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--grayColor);
    justify-content: space-around;
}


h1{
    line-height: 1.5;
}


.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2.5rem;
    color: var(--whiteColor);
    z-index: 10;
    background: black
}

.navbar-logo > a{
    letter-spacing: 2.5;
    text-decoration: none;
    color: var(--whiteColor);
}

.navbar-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navbar-menu > a{
    text-decoration: none;
    color: var(--whiteColor);
    
}

.menu-toggle{
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    margin-right: 20px;
}

.menu-toggle .bar{
    width: 15px;
    height: 2px;
    margin:3px auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

header{
    width: 100%;
    height: 50%;
    background-image: url('/static/images/balloon.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.header-title {
    position: absolute;
    top: 7rem;
    left: 2rem;
    letter-spacing: 3;
    font-weight: 700;
    font-size: 52px;
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
    color: var(--whiteColor);
}

.header-title > span{
    color: var(--primaryColor);
}

.search-wrapper{
    width: 60%;
    margin: auto;
    min-width: 300px;
    height: 3.5rem;
    position: relative;
}

.search-box{
    width: 100%;
    position: absolute;
    background-color: var(--grayColor);
    box-shadow: rgba(2,11,20,0.2) 0px 5px 15px;
    top:-45%;
    height: 100%;
}

.search-card{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem;
}

.search-input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}

.search-button{
    width: 200px;
    background: var(--primaryColor);
    border:none;
    color: var(--whiteColor);
    cursor: pointer;
}

.filter-box{
    width: 100%;
    height: auto;
    font-size: 2rem;
    width: 60%;
    min-width: 300px;
    margin: auto;   
}

.filter-dropdown{
    width: 100%;
    border-bottom: 1px solid var(--labelColor);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.filter-select{
    border: none;
    padding: 0.2rem;
}

.filter-select:hover{
    background-color: var(--grayColor);
}

.filter-chosen{
    width: 100%;
    height: auto;
    font-size: 20px;
    width: 60%;
    min-width: 300px;
    margin: auto; 
    display: flex;
}

.chosen-card{
    background: var(--primaryColor);
    padding: 0.2rem 0.5rem;
    color: var(--whiteColor);
    border-radius: 20px;
    cursor: pointer;
    display: block;
    
}

.job-list{
    margin: 5%;
    padding: 1rem;
    background-color: var(--grayColor);
    height: auto;
}

.job-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    align-items: center;
    background-color: var(--whiteColor);
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    cursor: pointer;
}

.job-card:hover{
    box-shadow: rgba(0,0,0,0.16) 0px 4px 16px;
}

.job-card-body{
    color: blue;
    border: none;
    display: flex;
    justify-content: space-between;
}

.job-card-body > a{
    margin-left: 3px;
    padding: 0.1rem;
    border-radius: 10%;
    color: var(--whiteColor);
    font-size: 20px;
    
}

.job-card-header > h3{
    font-weight: 900;
    font-size: 1.5rem;
    border-style : none;
    font-display: block;
    font-style: italic;

}

.job-card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}


.job-card-button{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 1rem;
    border: none;
    cursor: pointer;
    width: 7rem;
}

.job-card-location{
    background-color: var(--yellowColor);
}

.job-card-type{
    background-color: var(--primaryColor);
}
.job-card-level{
    background-color: var(--blackColor);
}

.job-card-function{
    background-color: rgba(237, 76, 103, 0.8);
}

.job-card-education{
    background-color: rgba(0, 118, 222, 0.8);
}


.apply-header{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: 900;
    color: var(--primaryColor);  
    align-self: center;
    justify-content: center;
    top: 50%;
    margin-top: 2rem;
}

.apply-header > h1 , h2{
    font-size: 2rem;
    font-weight: 900;
    color: var(--primaryColor);  
    align-self: center;
    justify-content: center;
    top: 50%;
    margin-top: 2rem;

}

.more-jobs{
    display: block;
    padding: 0.3rem 2rem;
    margin: 20px auto;
    width: 250px;
    background-color: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    cursor: pointer;
}

.more-jobs:hover{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.join{
    width: 100%;
    height:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,85,177,0.6)), to(rgba(0, 122, 255,0.5)), 
    color-stop(0.5, rgba(0,85,177,0.6)), color-stop(0.5, transparent)) , url('/static/images/abstract.webp');
    color: var(--whiteColor);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    align-items: center;
    position: relative;
}

.join::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,85,177,0.6)0% rgba(0, 122, 255,0.5)100%), linear-gradient(180deg, rgba(0,85,177,0.6)0%, transparent 100%);
    z-index: 1;
}

.join-detail{
    min-width: 200px;
    width: 50%;
    z-index: 2;
    margin-bottom: 1rem;
}

.join-detail > h1{
    font-size: 2rem;
    font-weight: 900;
    color: var(--whiteColor);
    letter-spacing: 2;
}

.join-detail > p{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    margin-top: 3rem;
}
.join-button{
    width:200px;
    padding: 1rem;
    color: var(--blackColor);
    background-color: var(--yellowColor);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 16px;
    z-index: 2;
    cursor: pointer;

}  

.join-button:hover{
    background: transparent;
    border: 2px solid var(--yellowColor);

}

.featured{
    display: flex;
    height: auto;
    top: auto; 
    padding: 1rem 3rem;
    align-items: center;   
}
.footer{
    width: 100%;
    height: 100px;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 2;
}

.social-icons{
    display: flex;
    justify-content: center space-around;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.social-icons > a:hover{
    box-shadow: #fff;
}