<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | CraftConnect</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/hammer.svg' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header1">
      <div class="logo1">
        <img src="{% static 'images/hammer-svgrepo-com.svg' %}" alt="logo" />
        <h1>CraftConnect</h1>
      </div>
    </header>
    <div class="login-form">
      <img src="{% static 'images/output.png' %}" alt="logo" />
      <h1>LOGIN</h1>
      <div class="other-mails">
        <button class="mails">
          <i class="fa-brands fa-github"></i>
          Github
        </button>
        <button class="mails">
          <i class="fa-brands fa-facebook"></i>
          Facebook
        </button>
        
        <button class="mails">
            
          <img
            src="{% static 'images/google-logo.png' %}"
            alt="google logo"
            class="mails-logo"
          />
          Google
        </button>
        <button class="mails">
          <img
            src="{% static 'images/linkin-logo.png' %}"
            alt="linkin logo"
            class="mails-logo"
          />
          Linkin
        </button>

        <!-- <div class="separator">or</div> -->
        
    </div>
    <p class="or">OR</p>
      <form method="post" action="{% url 'login' %}">
        <input
          type="name"
          class="input-box"
          placeholder=" username"
          name="username"
        />
        <input
          type="password"
          class="input-box"
          placeholder=" password"
          name="password"
        />
        {% csrf_token %}
        <div class="btn">
          <button type="submit">Login</button>
        </div>
        <hr />
        <div class="btn">
          <button class="google-btn">Login with Google</button>
        </div>

        {% for message in messages %}
        <p style="color: blue">{{ message }}</p>
        {% endfor %}

        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
      </form>
    </div>
  </body>
</html>
